body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
}


a {
    text-decoration: none;
}

a:link {
    color:blueviolet
}

a:visited {
    color:thistle
}

a:hover {
    color:mediumvioletred
}

a:focus {
    color:indigo;
    outline: violet solid 2px;
}

a:active {
    color:darkmagenta
}