span {
  display: inline-block;
}

tr[class="read"] {
  background-image: linear-gradient(to right, #d4fc79, #96e6a1);
}

tr[class="to-read"] {
  background-image: linear-gradient(to right, #e0e0e0, #ffffff);
}

tr[class="in-progress"] {
  background-image: linear-gradient(to right, #fddb92, #d1fdff);
}

tr[class="to-read"] span[class="status"] {
  border: 1px solid #ccc;
  background-image: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
}

tr[class="read"] span[class="status"] {
  border: 1px solid #2e7d32;
  background-image: linear-gradient(to bottom, #a5d6a7, #66bb6a);
}

tr[class="in-progress"] span[class="status"] {
  border: 1px solid #fbc02d;
  background-image: linear-gradient(to bottom, #fff9c4, #fff176);
}

span[class="status"],
span[class^="rate"] {
  height: 30px;
  width: 100px;
  padding: 5px;
}

span[class^="rate"] > span {
  border: 1px solid black;
  border-radius: 50%;
  margin: 2px;
  height: 20px;
  width: 20px;
  background-color: transparent;
}

span[class~="one"] span:first-child {
  background-image: linear-gradient(gold, orange);
}

span[class~="two"] span:nth-child(-n+2) {
  background-image: linear-gradient(gold, orange);
}

span[class~="three"] span {
  background-image: linear-gradient(gold, orange);
}